{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>

      <div id="headerwrap">
           <div class="container">
               <div class="row">
                <div class="col-lg col-md col-sm "id="img">
                    <img src="/static/img/mainphoto.jpg" alt="Наше фото">
                </div>
                <div class="col-lg col-md col-sm" id = "textmain">
                    <div class="col-lg col-md col-sm" id = "names">
                    <h1 id = "woman"> Екатерина </h1>
                         <h4 id="and"> и </h4>
                    <h1 id = "men"> Марк </h1>
                </div>
                    <div class="col-lg col-md col-sm" id = "data1">
                        <h4> 17 </h4>
                        <h4> Сентябрь </h4>
                        <h4> 2022</h4>
                    </div>
                    <div id="time">
                        <h4> 14:00 </h4>
                    </div>
                </div>
               </div>
            </div>
      </div>

      <div class = "main">
       <div class="container">
           <div id="data2">
               <h3 > До события </h3>
                <div class="col-sm col-md col-lg" >
                    <script src="//megatimer.ru/get/ae53098c249859ee838a37668d235d7b.js"></script>
                </div>
           </div>
    </div>
    <div class = "box">
       <div id="info">
           <h3>Место проведения</h3>
           <div class="maps row">
               <div id="map" style="width: 700px; height: 400px"></div>
                <p> Парк "Сатал", Летняя веранда
г. Якутск, Маганский тракт, 6 км.</p>
           </div>

            <h3>Наши пожелания</h3>
            <p> Мы очень старались сделать праздник красивым и будем рады!</p>
                <p>Не ломайте голову над подарками: </p>
                <p>Ваши пожелания в конвертах помогут нам осуществить мечту </p>
                    <p>Спасибо!</p>
       </div>
   </div>
          <h3>Подтвердите свое присутствие:</h3>
  </div>

  <div class="f" >
      <div class = "card col-lg-6 col-md-8 col-sm-8">
          <div class="card-body">
            <form action="{% url 'add_invites' %}" method="post">
                  {% csrf_token %}
                <label id = "name"> Ваше Имя</label>
                <div class = "mb-3"><input name = "name" required id="id_name" class="form-control"> </div>
                <label id = "questionid"> Придете ли Вы на наш вечер?</label>

                    {% for item in form.is_confirm %}
                <div class = "form-check">
                    <label for = "{{ item.id_for_label }}" > {{ item.choice_label }} </label>
                      {{ item.tag }}
                </div>
                  {% endfor %}
              <label > Ваши пожелания !</label>
              <div class = "mb-3"><textarea name="comment" cols="20" rows="5" class="form-control" id="id_comment"></textarea></div>
               <div class = "col"> <button class = "btn btn-dark ">
                    Подтвердить!
                </button>
               </div>
            </form>
          </div>
      </div>

  </div>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
 <script src="{% static 'bootstrap/css/bootstrap.min.js' %}"></script>
   <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript"></script>
  </body>

<footer>
    <p>Бэк Django</p>
    <p> недофронт</p>
</footer>
<script type="text/javascript">
ymaps.ready(init);

function init() {
    var myMap = new ymaps.Map("map", {
            center: [62.033046, 129.732280],
            zoom: 12
        }, {
            searchControlProvider: 'yandex#search'
        }),

        myPieChart = new ymaps.Placemark([
            62.053777, 129.773393
        ], {

            data: [
                {weight: 8, color: '#0E4779'},
                {weight: 6, color: '#1E98FF'},
                {weight: 4, color: '#82CDFF'}
            ],
            iconCaption: "Место встречи"
        });

    myMap.geoObjects

        .add(myPieChart);
}

</script>
</html>
