{
    font-family: 'Poppins', sans-serif;
}

#headerwrap {
    background: url("/static/img/5.jpg") no-repeat center top;
    margin-top: -10px;
    padding-top: 200px;
    padding-bottom: 150px;
    text-align: center;
    background-position: center center;
    min-height: 100px;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
       opacity: 0;
    transition: 1s;
    animation: show 3s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;

}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#headerwrap h1 {
    font-family: Candara;
    color: #6f42c1;
    font-size: 50px;
    letter-spacing: 3px;
     opacity: 0;
    transition: 1s;
    animation: show 3s 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
#headerwrap h3 {
    color: #664d03;
    font-size: 30px;
      opacity: 0;
    transition: 1s;
    animation: show 3s 1;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}
#mainid {

    margin-top: 200px;
    padding-top: 50px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 100px;
    background-size: 100%;


}
#mainid h3 {
    color: #664d03;
    font-size: 25px;

}
#data p {
    color: #664d03;
}

#form {
    margin-top: 100px;
    text-align: center;
    background-position: center center;
    min-height: 100px;
    background-size: 100%;
}
#test {
    color: #664d03;
    -webkit-transition:  all 0.5s ease;
    -moz-transition:  all 0.5s ease;
    -o-transition:  all 0.5s ease;
    -ms-transition:  all 0.5s ease;
    transition:  all 0.5s ease;
}
#test :hover {
    -webkit-transform:  rotate(-10deg);
    -moz-text-transform:  rotate(-10deg);
    -o-transform:  rotate(-10deg);
    -ms-transform:  rotate(-10deg);
    transform:  rotate(-10deg);
}
.f{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.f .card {
    width: 55%;
}
.card-body label {
    margin-bottom: 5px;
    padding: 5px;
    color: #664d03;
}

.card-body input {
    border-radius: 1rem;
}
#wishesid{
    margin-top: 50px;
    color: #664d03;
    text-align: center;
}
.card-body .col {

    display: flex;
    justify-content: center;
    align-content: center;
}
.card-body .col button {

    border-radius: 1rem;

}


footer{
    margin-top: 30px;
    padding-top: 50px;
    text-align: center;
}

